.desktop_nav_container {  
  padding: 0;
  gap: 4rem;
}

.desktop_nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 4rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (min-width: 1000px) {

  

}