
.nav_container {  
  padding: 0;
  gap: 4rem;
}

.nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* .nav_button {
  margin: 0;
  padding: 0;
  width: auto;
} */


input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
  background-color: white;
}

input:hover {
  color: #ff3399;
}

@media (min-width: 1000px) {
  
  .header {
    font-size: 36px;
  }

  .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem 0.5rem 0;
    gap: 1rem;
  }

  .nav_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    padding: 0;
    margin: 0;
  }

}