.header {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 2rem 0;
  gap: 1rem;
}

.logo_container {
  width: 200px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 4rem;
}

a {
  color: black;
}

a:hover {
  color: #ff3399;
}