.footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #eee93b;
}

@media (min-width: 1000px) {

  .footer {
    width: 100%;
  }
}

