.mobile_nav_container {  
  padding: 0;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  z-index: 10;
  width: 300px;
}

.mobile_nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* .mobile_nav_button {
  margin: 0;
  padding: 0;
  width: auto;
} */
